.stepList {
  width: 100%;
}

.add-step {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-right: 20px;
  background-color: rgb(6, 155, 241);
  border-radius: 5px;
}

.step-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}