.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.modal-hidden {
  display: none;
}

.modal-content {
  position: fixed;
  background-color: #fff;
  border-radius: 8px;
  width: 30%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: right;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.close-modal {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .modal-content {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

/* Buttons */

.button-deny-remove,
.button-remove {
  width: 80px;
  height: 50px;
  margin-left: 15px;
  border: 3px solid rgb(241, 22, 6);
  font-weight: 700;
  box-shadow: 0 0 6px rgba(255, 17, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
}

.button-deny-remove {
  border: 3px solid rgb(6, 155, 241);
  box-shadow: 0 0 6px rgba(0, 68, 255, 0.5);
}

.remove-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-confirm h4 {
  line-height: 0;
}